@model Physioline.Endpoint.WebAPI.Areas.Admin.Models.PlanModels.PlanGetPageListViewModel

@{
    ViewData["Title"] = "فهرست برنامه های درمانی";
    int nextPage = Model.PageNumber + 1;
    int lastPage = Model.PageNumber == 1 ? 1 : Model.PageNumber - 1;
}

<!-- Delete Collection Category Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-area="Admin" asp-controller="Plan" asp-action="Delete" method="post">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h1 class="modal-title fs-5">حذف رکورد</h1>
            </div>
                <div class="modal-body">
                    <div>
                        <span class="badge bg-danger">شما درحال حذف یک برنامه میباشید.</span>
                    </div>
                    <div class="mt-3">
                        <div class="d-block mt-3">
                            <label for="idForDelete">شناسه برنامه درمانی</label>
                            <input type="number" name="id" id="idForDelete" class="form-control disabled" required readonly/>
                            <span class="text-secondary text-small mt-2">برنامه با این شناسه حذف خواهد شد و قابل برگشت نخواهد بود.</span>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-danger">مطمئنم؛ حذف شود</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div class="row justify-content-center mt-3">
    <div class="col-11">
        @if(Model.OperationResult != null)
        {
            <div class="alert alert-dismissible mb-3 @(Model.OperationResult == true ? "alert-success" : "alert-danger")  my-3" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                @Model.Message
            </div>
        }
        <div class="d-flex justify-content-between">
            <div>
                <h2 class="h2">@ViewData["Title"]</h2>
            </div>
        </div>
        <hr/>
        <div class="row justify-content-between">
            <div class="col-auto">
                <form asp-area="Admin" asp-controller="Plan" asp-action="PageList" method="get" id="pageForm">
                    <div class="d-inline-flex">
                        <select class="form-select" name="pageSize">
                            <option value="@Model.PageSize">تعداد در صفحه : @Model.PageSize</option>
                            <option value="1">1</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="d-inline-flex">
                        <button type="submit" class="btn btn-outline-secondary">اعمال فیلتر</button>
                    </div>
                </form>
            </div>
            <div class="col-auto">
                <a class="btn btn-sm btn-outline-primary" asp-route-pageNumber="@lastPage" 
                   asp-route-pageSize="@Model.PageSize">قبلی</a>
                
                <span class="text-primary mx-2 pt-2">صفحه: @Model.PageNumber</span>
                
                <a class="btn btn-sm btn-outline-primary" asp-route-pageNumber="@nextPage"
                    asp-route-pageSize="@Model.PageSize">بعدی</a>
            </div>
        </div>
        <table class="table table-striped table-hover mt-3">
            <thead>
            <tr>
                <th>#</th>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th>شناسه متخصص</th>
                <th>شناسه بیمار</th>
                <th>شروع</th>
                <th>پایان</th>
            </tr>
            </thead>
            <tbody>

            @if (Model.Items.Any())
            {
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@(item.Description.Length > 40 ? item.Description.Substring(0,40) : item.Description)</td>
                        <td>@item.CreatorUserId</td>
                        <td>@item.ClientUserId</td>
                        <td>
                            @item.StartDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @item.EndDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            <div class="d-flex justify-content-center gap-1">
                                <div>
                                    <a asp-area="Admin" asp-action="GetSingle" asp-route-id="@item.Id">
                                        <button class="btn btn-info btn-sm">
                                            <i class="fa-solid fa-info"></i>
                                        </button>
                                    </a>
                                    
                                </div>
                                <div>
                                    <a onclick="document.getElementById('idForDelete').value = @item.Id;"
                                       data-bs-toggle="modal" data-bs-target="#deleteModal">
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <div class="alert alert-danger my-3 m-4" role="alert">
                    اطلاعاتی برای نمایش وجود ندارد.
                </div>
            }
            </tbody>
        </table>
    </div>
</div>
<script>
function SetEditFields(id, title, description){
     document.getElementById('idForEdit').value = id;
     document.getElementById('titleForEdit').value = title;
     document.getElementById('descriptionForEdit').value = description;
}
</script>